version: "3.1"

services:
  db:
    container_name: ai-postgres
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: ai
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    container_name: ai-redis
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  db-data:
  redis-data:
